* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

header {
  width: 100%;
  height: 100vh;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: sticky;
}

.mainheader {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerbutton {
  padding: 10px 45px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  border-radius: 10px;
  border-style: hidden;
  margin-right: 60px;
  background-image: linear-gradient(to right, #cfa7fc, #bb7cf7, #ca72fd);
  cursor: pointer;
}

.headerbutton:hover {
  background-color: linear-gradient(to right, #ca72fd, #bb7cf7, #cfa7fc);
  transition: 0.8;
}

#openmrslogo {
  width: 250px;
  height: 70px;
  padding-left: 60px;
}

#mainnav a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  margin-right: 50px;
}

.patientcard {
  padding-left: 50px;
  padding-right: 50px;
}

.patientcontainer {
  width: 100%;
  height: 100px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

#patientinfo {
  width: 100%;
  display: block;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.graphcontainer {
  margin: 50px;
  display: flex;
}

.subgraphcontainer {
  flex: 50%;
}

.patientweightinfocard {
  padding-right: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  align-items: center;
}

.patientweightinfo {
  width: 100%;
  height: 50%;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}
